html{
    font-family: $base-font;
}
h1{
    line-height:66px;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size:4rem;
        font-weight:$regular;
        margin-bottom:0px;   
    }
    
    h2{
        font-size:3rem;
        font-weight: $regular;
        line-height: 41px;
    }
        
    h3{
        font-size:2rem;
        font-weight: $regular;
    }
    
    h4{
        font-size:2rem;
        font-weight: $thin;
    }
    
    p{
        font-size:1rem;
        font-weight: $regular;
    }
    
}


@media only screen and (min-width: 768px) {
    h1{
        font-family: $base-font;
        font-size:5rem;
        font-weight: $semi-bold;
        margin-bottom:0px;
        line-height:80px;
    }
    
    h2{
        font-family: $base-font;
        font-size:4rem;
        font-weight: $semi-bold;
        
    }
    
    h3{
        font-family: $base-font;
        font-size:3rem;
        font-weight: $semi-bold;
    }
    
    h4{
        font-family: $base-font;
        font-size:2rem;
        font-weight: $thin;
    }
    
    p{
        font-family: $base-font;
        font-size:133.333%;
        font-weight: $thin;
    }
}
@media only screen and (min-width: 992px) {
    h1{
        font-size:5rem;
        font-weight: $semi-bold;
        margin-bottom:0px;
        line-height:80px;
    }
    
    h2{
        font-size:4rem;
        font-weight: $semi-bold;
        
    }
    
    h3{
        font-size:3rem;
        font-weight: $semi-bold;
    }
    
    h4{
        font-size:2rem;
        font-weight: $thin;
    }
    
    p{
        font-size:133.333%;
        font-weight: $thin;
    }
}
// @media only screen and (max-width: 1200px) {
//     h1{
//         font-size:5rem;
//         font-weight: $semi-bold;
//         margin-bottom:0px;
//         line-height:80px;
//     }
    
//     h2{
//         font-size:4rem;
//         font-weight: $extra-thin;
        
//     }
    
//     h3{
//         font-size:4rem;
//         font-weight: $thin;
//     }
    
//     h4{
//         font-size:2rem;
//         font-weight: $thin;
//     }
    
//     p{
//         font-size:133.333%;
//         font-weight: $thin;
//     }
// }

